body{
    margin: 0;
font-family: cursive;
background-color: black;
}
h1
{
    text-align: center;
    color:green;
}
.container
{  
   height: 50vh;
   
 background-color: rgb(0, 247, 123);
   align-items: center;
    margin: 0 auto;
    max-width: 600px;
}
.innercontainer
{
    background-image: linear-gradient(to right ,rgba(0,0,0,.8),rgba(255,0,0,.8));
    color:white;
    display: flex;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: solid black;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    margin: 0 auto;
}
#btn
{
    display: flex;
    width:200px;
    height: 50px;
    background-color: rgb(0, 14, 84);
   align-items: center;
   justify-content:center ;
    margin: 20px auto;
    color: white;
    font-size: 30px;
    cursor: pointer;
    
}